/* ESTILOS*/


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

header{
    height: 100px;
    background-color:red;
    display: flex;

}
.header img{
    width: 100px;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}